<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<ul>
  <li><a href="#!/html/lancamentos">Lançamentos</a></li>
  <li><a href="#!/html/livros">Livros</a></li>
  <li><a href="#!/html/ligon">Login</a></li>
</ul>

<h1 class="titulo">Lançamentos</h1>
  <div class="container">
    <div class="col-md-3">
      <tr ng-repeat="livro in livros | orderBy: 'lancamento'">
        <td>{{ livro.foto | json }}</td>
        <td>{{ livro.titulo | json }}</td>
      </tr>
    </div>
    <div class="col-md-3">
      <tr ng-repeat="livro in livros | orderBy: 'lancamento'">
        <td>{{ livro.foto | json }}</td>
        <td>{{ livro.titulo | json }}</td>
      </tr>
    </div>
    <div class="col-md-3">
      <tr ng-repeat="livro in livros | orderBy: 'lancamento'">
        <td>{{ livro.foto | json }}</td>
        <td>{{ livro.titulo | json }}</td>
      </tr>
    </div>
    <div class="col-md-3">
      <tr ng-repeat="livro in livros | orderBy: 'lancamento'">
        <td>{{ livro.foto | json }}</td>
        <td>{{ livro.titulo | json }}</td>
      </tr>
    </div>
  </div>
