.silvio{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
img{
  float: left;
}
.caixa{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  padding: 10px 20px;
  color: white;
  background: rgba(0, 191, 255, 0.5);
}
.texto p{
  display: none;
}

.caixa:hover p{
  display: block;
}
h1{
  margin: 0;
}
