<!DOCTYPE html>
<html ng-app="aula01">
  <head>
    <meta charset="utf-8">
    <title>Exemplo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="controller.js">

    </script>
  </head>
  <body>
    <div ng-controller="Exemplo1">
      <label>Nome</label>
      <input type="text" ng-model="pokemon.nome">
      <input type="text" ng-model="pokemon.tipo">
      <hr>
      <h1>Nome: {{ pokemon.nome }} </h1>
      <h1>Tipo: {{ pokemon.tipo }}</h1>
    </div>
    <div ng-controller="Exemplo2">
      <label>Nome para pesquisa</label>
      <input type="text" ng-model="pokemon.nome">
      <ul ng-repeat="pokemon in pokemons | filter: {nome: pokemon.nome}}">
        <li>Nome: {{ pokemon.nome }} </li>
        <li>Tipo: {{ pokemon.tipo }}</li>
      </ul>
    </div>
  </body>
</html>
