<!DOCTYPE html>
<html ng-app="aula01">
  <head>
    <meta charset="utf-8">
    <title>Exemplo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="controller.js">

    </script>
  </head>
  <body ng-controller="Exemplo1">
    <div>
      <label>Nome</label>
      <input type="text" ng-model="pokemon.nome">
      <input type="text" ng-model="pokemon.tipo">
      <hr>
      <h1>Nome: {{ pokemon.nome }} </h1>
      <h1>Tipo: {{ pokemon.tipo }}</h1>
    </div>
  </body>
</html>
