<h1> Login </h1>
<hr>
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal" name="formLogin">
                <div class="col-md-12 form-group">
                    <label for="novoUsuario">Email:</label>
                        <input id="email"
                        class="form-control input-sm"
                        ng-model="usuario.Email"
                        type="email"
                        placeholder="bruno@cwi.com.br" />
                    <label for="novoUsuario">Senha:</label>
                        <input id="senha"
                        class="form-control input-sm"
                        ng-model="usuario.Senha"
                        type="password"/>
                    <div class="wrapper">
                        <button type="submit" class="btn btn-primary btn-md" ng-click="login(usuario)">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
